@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style: none;
}

:root {
    --bcgBody: #B4E197;
    --bcgFormButton: #83BD75;
    --colorFormButton: #fff;
    --bcgForm: #e3ebdb;
    --bcgExcursionsItemButtonUpdate: #83BD75;
    --bcgExcursionsItemButtonRemove: #e74c3c;
    --colorExcursionsItemButton: #fff;
    --bcgExcursionsList: #DDFFBC;
}

body {
    background-color: var(--bcgBody);
}

h1 {
    background-color: #52734D;
    color: #fff;
    padding: 10px;
}

.panel {
    display: flex;
    flex-direction: column-reverse;
}

/* form */

.form {
    font-weight: 500;
    background-color: var(--bcgForm);
    padding-top: 12px;
}

.form__label {
    margin-left: 5px;
}

.form__field, .order__form__field {
    width: 100%;
    resize: vertical;
    height: 25px;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid green;
    padding: 10px;
}

.form__field:focus, .order__form__field:focus {
    border-bottom: 2px solid green;
}

.form__field {
    margin-bottom: 15px;
}

.order__field-submit {
    font-size: 1rem;
    padding: 5px 40px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: var(--bcgFormButton);
    color: var(--colorFormButton);
    transition: .2s;
    margin: 20px;
    cursor: pointer;
}

/* list */

.panel__excursions {
    padding: 10px;
}

.excursions__item {
    padding: 10px;
    margin-top: 20px;
    background-color: var(--bcgExcursionsList);
    border-radius: 15px;
}

.excursions__title, .excursions__description, .excursions__field {
    margin-bottom: 10px;
}

.excursions__description {
    font-weight: 500;
}

.excursions__field-input--update, .excursions__field-input--remove {
    font-size: 0.9rem;
    padding: 5px 10px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: var(--bcgExcursionsItemButtonUpdate);
    color: var(--colorExcursionsItemButton);
    transition: .2s;
    cursor: pointer;
}

.excursions__field-input--update:hover, .order__field-submit:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: green;
}

.excursions__field-input--remove:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #c0392b;
}

.excursions__field-input--remove {
    background-color: var(--bcgExcursionsItemButtonRemove);
}

.excursions__field {
    margin-top: 10px;
}


.excursions__item--prototype {
    display: none;
}

.is-editable{
    border: 3px solid black;
}

.is-editable  .excursions__title, .is-editable .excursions__description, .is-editable .adults-price, .is-editable .children-price {
    color: #b71540;
}

@media(min-width: 1000px) {
    .panel {
        flex-direction: row-reverse;
        height: calc(100vh - 59px);
    }
    
    .panel__excursions {
        overflow-y: scroll;
        width: 70%;
    }

    .form__container {
        width: 30%;
    }
    
    .form {
        height: 100%
    }

    .form__field--longtext {
        height: 150px;
    }

    .order__field--submit {
        text-align: center;
    }
}

