@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat';
}

:root {
    --bcgBody: #B4E197;
    --bcgBasket: #e3ebdb;
    --bcgExcursionsList: #DDFFBC;
    --removeButton: red;
    --borderColor: #83BD75;
    --bcgExcursionsItemButton: #83BD75;
    --colorExcursionsItemButton: #fff;
    --bcgBasketItemButton: #6fad66;
    --colorBasketItemButton: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(4, 85, 4);
    border-radius: 10px;
}

body {
    background-color: var(--bcgBody);
}

.summary__item--prototype, .excursions__item--prototype {
    display: none;
}

/* excursions list */

.offer__panel {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.excursions__item {
    padding: 10px;
    margin-top: 20px;
    background-color: var(--bcgExcursionsList);
    border-radius: 15px;
}

.excursions__title, .excursions__description, .excursions__field {
    margin-bottom: 10px;
    text-align: center;
}

.excursions__description {
    font-weight: 500;
}

.excursions__field-name {
    font-weight: 400;
}

.excursions__field--input {
    width: 30px;
    text-align: center;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--borderColor);
    outline: none;
    background-color: transparent;
}

.excursions__field-input--submit {
    font-size: 0.9rem;
    padding: 5px 10px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: var(--bcgExcursionsItemButton);
    color: var(--colorExcursionsItemButton);
    transition: .2s;
}

.children-price, .adults-price {
    font-weight: 500;
}

/* basket form */

.panel__form {
    background-color: var(--bcgBasket);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
}

.order__total-price {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.order__field {
    margin-bottom: 10px;
}

.order__field-input {
    width: 50%;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid green;
}

.order__field-submit {
    font-size: 0.9rem;
    margin-top: 15px;
    width: 150px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background-color: var(--bcgBasketItemButton);
    color: var(--colorBasketItemButton);
    transition: .2s;
}


/* basket */

.panel__summary {
    margin-top: 12px;
}

.summary__item {
    padding: 10px;
    border-top: 2px solid var(--borderColor); 
    margin-top: 10px;
    margin-bottom: 10px;
}

.summary__title {
    margin-bottom: 5px;
}

.summary__btn-remove {
    text-decoration: none;
    color: var(--removeButton);
    margin-left: 5px;
}

@media (min-width: 1000px) {

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .offer__panel {
        flex-direction: row;
        max-width: 1700px;
        justify-content: center;
        height: 80vh;
        overflow: hidden;
        background-color: #6fad66;
        border-radius: 10px;
    }
    
    .panel__excursions {
        overflow-y: auto;
        width: 70%;
        margin-right: 20px;
    }

    .excursions__item {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .panel__form {
        width: 30%;
        overflow-y: auto;
        margin-bottom: 0;
    }

    .excursions__field-input--submit:hover, .order__field-submit:hover {
        transform: scale(1.05);
        cursor: pointer;
        background-color: green;
    } 
}